* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Ubuntu;
    margin: 8px auto;
    padding: 8px;
    width: 980px;
    background-color: #391D1F;
    border-radius: 10px;
}

main {
    width: 70%;
    float: left;
    min-height: 30em;
    clear: both;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #923624;
    color: #281416;
    padding: 0 2em;
}

.site-header a, .site-header a:visited {
    color: #1a5b86;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background-color: #923624;
    color: #281416;
    padding: 2em;
}

.site-footer a {
    color: #366e94;
}