* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1d0707;
    font-family: inherit;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #923624;
    color: #281416;
    padding: 0 2em;
}

.site-header a, .site-header a:visited {
    color: #1a5b86;
}

.flash-region {
    margin-left: auto;
    margin-right: auto;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
    width: 70%;
    clear: both;
    margin: auto;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background-color: #923624;
    color: #281416;
    padding: 2em;
}

.site-footer a {
    color: #366e94;
}